<h3>{{Ctrl.matchName}}</h3>
<br>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label for="side">Side</label>
                    <select class="form-control" name="singleSelect" ng-model="Ctrl.side">
                      <option value="buy">Buy</option>
                      <option value="sell">Sell</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" id="price" ng-model="Ctrl.price">
                </div>
                <div class="form-group">
                    <label for="size">Size</label>
                    <input type="number" class="form-control" id="size" ng-model="Ctrl.size">
                </div>
                <button class="btn btn-warning" ng-click="Ctrl.placeBet()">Place</button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <a href="" class="btn btn-lg btn-danger">S</a>
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>User</th>
                <th>Side</th>
                <th>Size</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="bet in Ctrl.buyBets">
                    <td>{{ bet.user_id.username }}</td>
                    <td>{{ bet.side             }}</td>
                    <td>{{ bet.qty              }}</td>
                    <td>{{ bet.value            }}</td>
                </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <a href="" class="btn btn-lg btn-success">B</a>
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Value</th>
                <th>Size</th>
                <th>Side</th>
                <th>User</th>
              </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="bet in Ctrl.sellBets">
                    <td>{{ bet.value            }}</td>
                    <td>{{ bet.qty              }}</td>
                    <td>{{ bet.side             }}</td>
                    <td>{{ bet.user_id.username }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>