<h4>{{Ctrl.matchName[0]}}<br>{{Ctrl.matchName[1]}}</h4>
<br>
<br>
<div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form">
                    <div class="form-group">
                        <label for="side">Side</label>
                        <input type="checkbox" name="my-checkbox" data-size='small' data-on-text='B' data-off-text='S' data-off-color="danger" checked>
                    </div>
                    <div class="form-group range-slider">
                        <label for="price">Price: {{Ctrl.price}}&nbsp;&nbsp;</label>
                        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="99" data-slider-step="1" data-slider-value="1" ng-model="Ctrl.price" style="width: 100%"/>      
                    </div>
                    <div class="form-group">
                        <label for="size">Size: {{Ctrl.size}} &nbsp;&nbsp;</label>
                        <input id="ex2" data-slider-id='ex2Slider' type="text" data-slider-min="1" data-slider-max="20" data-slider-step="1" data-slider-value="1" ng-model="Ctrl.size" style="width: 100%"/>  
                    </div>
                    <button class="btn btn-warning" ng-click="Ctrl.placeBet()">Place</button>
                </form>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-10">
        <br>
        <div class="table-responsive">
          <table class="table table-striped table-hover" style="font-size:12px">
              <thead>
                <tr>
                  <th>User</th>
                  <th>Size</th>
                  <th>Value</th>
                  <th>Value</th>
                  <th>Size</th>
                  <th>User</th>
                </tr>
              </thead>
              <tbody>

                  <tr ng-repeat="i in Ctrl.getNumber() track by $index">
                      <td>{{ Ctrl.buyBets[i].user_id.username              }}</td>
                      <td>{{ Ctrl.buyBets[i].qty                           }}</td>
                      <td>{{ Ctrl.buyBets[i].value                         }}</td>
                      <td>{{ Ctrl.sellBets[i].value                        }}</td>
                      <td>{{ Ctrl.sellBets[i].qty                          }}</td>
                      <td>{{ Ctrl.sellBets[i].user_id.username             }}</td>
                  </tr>
              </tbody>
          </table>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
            /* Example 1 */
            $('#ex1').slider({});
            $('#ex2').slider({});
            $("[name='my-checkbox']").bootstrapSwitch();
        });
</script>