<html>
    <head>
        <title>Future Bet App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        
        <link href="/static/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
        <link href="/css/bootswatch-slate.min.css" rel="stylesheet">

        <script src="/static/jquery/dist/jquery.min.js"></script>
        <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>

        <style>
            body { padding-top:70px }
            * {
                -webkit-touch-callout: none;
                -webkit-user-select: none; /* Disable selection/copy in UIWebView */
            }
        </style>
        <base href="/">
    </head>
    <body>
        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>

        <hr>

        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </body>
</html>s